[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "piecenorms"]
	path = piecenorms
	url = https://github.com/david-hammond/piecenorms
[submodule "pmev"]
	path = pmev
	url = https://github.com/david-hammond/pmev
